<div> 
  <table class='game' data-id='game-table'>
    <tr>
      <th>Guess</th>
      <th>Feedback</th>
    </tr>
    <tr>
      <td class='guess' data-id='guess-9'></td>
      <td class='feedback' data-id='feedback-9'></td>
    </tr>
    <tr>
      <td class='guess' data-id='guess-8'></td>
      <td class='feedback' data-id='feedback-8'></td>
    </tr>
    <tr>
      <td class='guess' data-id='guess-7'></td>
      <td class='feedback' data-id='feedback-7'></td>
    </tr>
    <tr>
      <td class='guess' data-id='guess-6'></td>
      <td class='feedback' data-id='feedback-6'></td>
    </tr>
    <tr>
      <td class='guess' data-id='guess-5'></td>
      <td class='feedback' data-id='feedback-5'></td>
    </tr>
    <tr>
      <td class='guess' data-id='guess-4'></td>
      <td class='feedback' data-id='feedback-4'></td>
    </tr>
    <tr>
      <td class='guess' data-id='guess-3'></td>
      <td class='feedback' data-id='feedback-3'></td>
    </tr>
    <tr>
      <td class='guess' data-id='guess-2'></td>
      <td class='feedback' data-id='feedback-2'></td>
    </tr>
    <tr>
      <td class='guess' data-id='guess-1'></td>
      <td class='feedback' data-id='feedback-1'></td>
    </tr>
    <tr>
      <td class='guess' data-id='guess-0'></td>
      <td class='feedback' data-id='feedback-0'></td>
    </tr>
  </table>
  <form name='mm-form' data-id='mm-form'>
    <input data-id='guess-input' name='guess-input'/>
  </form>
  <div data-id="click-buttons">
    <button data-id='guess-button' type='button'>Guess</button>
    <button data-id='reset-button' type='button'>New Game</button>
  </div>
</div>
