#game_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 8.6%;
  border-collapse: collapse;
  empty-cells: show;
}

#game_table td, #game_table th {
  font-size: 1em;
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px;
  height: 30px;
}

#game_table th {
  font-size: 1.1em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #A7C942;
  color: #ffffff;
}

#game_table tr.alt td {
  color: #000000;
  background-color: #EAF2D3;
}

#click_buttons {
  clear: both;
}

#guess_input { margin-left: .5em; float: left; }
#guess_input, label { float: left; font-family: Arial, Helvetica, sans-serif; font-size: small; }


br { clear: both; }
input { border: 1px solid black; margin-bottom: .5em;  }
input.error { border: 1px solid red; }
label.error {
  background: url('styles/images/unchecked.gif') no-repeat;
  padding-left: 16px;
  margin-left: .3em;
}
label.valid {
  background: url('styles/images/checked.gif') no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}

